<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marvel Book | Connexion</title>
    <link rel="icon" type="image/x-icon" href="/Static/Asset/Logo/Logo Spider-man.png">
    <link rel="stylesheet" href="../Css/connexion.css">
</head>
    <body>
        <header>
            <nav>
                <section id="navGauche">
                    <div>
                        <img id="logoMarvelBook" src="/Static/Asset/Logo/Marvel Book logo.png" alt="Logo MARVEL Book">
                    </div>
                    <div>
                        <a class="btn" href="../../Index.html">Accueil</a>
                    </div> 
                </section>
                <section id="navDroite">
                    <a class="btn" href="../Views/Connexion.html">Connexion</a>
                    <a class="btn" href="../Views/SignUp.html">Inscription</a>
                </section>
            </nav>
        </header>
        <main>
            <section id="pageConnexion">
                <article>
                    <img class="imageMarvel" src="../Asset/Img/Hulk.png" alt="Thor">
                </article>
                <img id="antMan"  src="../Asset/Img/Ant-man.png" alt="Captain Marvel">
                <article id="blockConnexion">
                    <h1 id="titreConnexion">connexion</h1>
                    <form method="post" action="adresse de destination">
                        <table>
                            <tr>
                                <td>
                                    <label class="label" for="pseudo">E-mail :</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input class="champRemplissage" id="eMail" type="email" name="email" placeholder=" Saisisez votre email">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="label" for="password">Mot de passe :</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input class="champRemplissage" id="motDePasse" type="password" name="password" placeholder=" Saisisez votre Mot de passe">
                                </td>
                            </tr>
                            <tr>
                                <td id="checkBox">
                                    <input type="checkbox" name="checkbox">
                                    <label for="chekbox">Restez connecté</label>
                                </td>
                            </tr>
                            <tr>
                                <td id="boxBtnConnexion">
                                    <input id="btnConnexion" type="button" name="password" value="Connexion">
                                </td>
                            </tr>
                        </table>
                    </form>
                </article>
                <article>
                    <img class="imageMarvel" src="../Asset/Img/Ant-man.png" alt="Captain Marvel">
                </article>
            </section>
        </main>
        <footer>
            <section id="footerMarvel">
                <article id="footerGauche">
                    <img class="imgFooter" src="/Static/Asset/Img/iron-man-team-vg-marvel-culture-geek-vonguru-min-500x500.png" alt="Iron-Man">
                    <div>
                        <p id="texteFooter">Ceci est une page de présentation pour un projet de formation</p>
                    </div>
                </article>
                <article id="footerDroite">
                    <img class="imgFooter" src="/Static/Asset/Img/wolverine-comics.png" alt="Wolverine">
                </article>
            </section>
        </footer>
    </body>
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <script src="../Js/connexion.js"></script>
</html>