<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marvel Book | Connexion</title>
    <link rel="icon" type="image/x-icon" href="/Static/Asset/Logo/Logo Spider-man.png">
    <link rel="stylesheet" href="../Css/livres.css">
</head>
    <body>
        <header>
            <nav>
                <section id="navGauche">
                    <div>
                        <img id="logoMarvelBook" src="/Static/Asset/Logo/Marvel Book logo.png" alt="Logo MARVEL Book">
                    </div>
                    <div>
                        <a class="btn" href="../../Index.html">Accueil</a>
                    </div> 
                </section>
                <section id="navDroite">
                    <a class="btn" href="../Views/Connexion.html">Connexion</a>
                    <a class="btn" href="../Views/SignUp.html">Inscription</a>
                </section>
            </nav>
        </header>
        <main>
            <section class="ligne">
                <article class="blockPresentation">
                    <div id="blockCouverture">
                        <img class="couverture" src="../Asset/Img/Book MARVEL.jpg" alt="Premiere page de Book">
                        <div class="blockVote">
                            <input class="vote" type="image" src="../Asset/Logo/icons8-etoile-jaune.png" alt="Note etoile jaune" value="1">
                            <input class="vote" type="image" src="../Asset/Logo/icons8-etoile-jaune.png" alt="Note etoile jaune" value="2">
                            <input class="vote" type="image" src="../Asset/Logo/icons8-etoile-jaune.png" alt="Note etoile jaune" value="3">
                            <input class="vote" type="image" src="../Asset/Logo/icons8-etoile-jaune.png" alt="Note etoile jaune" value="4">
                            <input class="vote" type="image" src="../Asset/Logo/icons8-etoile-jaune.png" alt="Note etoile jaune" value="5">
                        </div>
                    </div>
                    <div>
                        <div class="titreBook">
                            <h3 >Titre H3 du Book</h3>
                        </div>
                        <div class="texteBook">
                            <p>Lorem ipsum dolor sit amet consectetur.
                             Vestibulum et erat nunc molestie diam. 
                             Porttitor velit etiam duis dolor scelerisque vel at. 
                             Et suspendisse tristique quis orci euismod et enim. 
                             Volutpat cum in vitae felis nibh pellentesque vitae.</p>
                        </div>
                        <input class="BtnEnvoyer" type="submit" value="Voter">
                    </div>
                </article>
                <article class="blockPresentation">
                    <div id="blockCouverture">
                        <img class="couverture" src="../Asset/Img/Book MARVEL.jpg" alt="Premiere page de Book">
                        <div class="blockVote">
                            <input class="vote" type="image" src="../Asset/Logo/icons8-etoile-jaune.png" alt="Note etoile jaune" value="1">
                            <input class="vote" type="image" src="../Asset/Logo/icons8-etoile-jaune.png" alt="Note etoile jaune" value="2">
                            <input class="vote" type="image" src="../Asset/Logo/icons8-etoile-jaune.png" alt="Note etoile jaune" value="3">
                            <input class="vote" type="image" src="../Asset/Logo/icons8-etoile-jaune.png" alt="Note etoile jaune" value="4">
                            <input class="vote" type="image" src="../Asset/Logo/icons8-etoile-jaune.png" alt="Note etoile jaune" value="5">
                        </div>
                    </div>
                    <div>
                        <div class="titreBook">
                            <h3 >Titre H3 du Book</h3>
                        </div>
                        <div class="texteBook">
                            <p>Lorem ipsum dolor sit amet consectetur.
                             Vestibulum et erat nunc molestie diam. 
                             Porttitor velit etiam duis dolor scelerisque vel at. 
                             Et suspendisse tristique quis orci euismod et enim. 
                             Volutpat cum in vitae felis nibh pellentesque vitae.</p>
                        </div>
                        <input class="BtnEnvoyer" type="submit" value="Voter">
                    </div>
                </article>
                <article class="blockPresentation">
                    <div id="blockCouverture">
                        <img class="couverture" src="../Asset/Img/Book MARVEL.jpg" alt="Premiere page de Book">
                        <div class="blockVote">
                            <input class="vote" type="image" src="../Asset/Logo/icons8-etoile-jaune.png" alt="Note etoile jaune" value="1">
                            <input class="vote" type="image" src="../Asset/Logo/icons8-etoile-jaune.png" alt="Note etoile jaune" value="2">
                            <input class="vote" type="image" src="../Asset/Logo/icons8-etoile-jaune.png" alt="Note etoile jaune" value="3">
                            <input class="vote" type="image" src="../Asset/Logo/icons8-etoile-jaune.png" alt="Note etoile jaune" value="4">
                            <input class="vote" type="image" src="../Asset/Logo/icons8-etoile-jaune.png" alt="Note etoile jaune" value="5">
                        </div>
                    </div>
                    <div>
                        <div class="titreBook">
                            <h3 >Titre H3 du Book</h3>
                        </div>
                        <div class="texteBook">
                            <p>Lorem ipsum dolor sit amet consectetur.
                             Vestibulum et erat nunc molestie diam. 
                             Porttitor velit etiam duis dolor scelerisque vel at. 
                             Et suspendisse tristique quis orci euismod et enim. 
                             Volutpat cum in vitae felis nibh pellentesque vitae.</p>
                        </div>
                        <input class="BtnEnvoyer" type="submit" value="Voter">
                    </div>
                </article>
            </section>
        </main>
        <footer>
            <section id="footerMarvel">
                <article id="footerGauche">
                    <img class="imgFooter" src="/Static/Asset/Img/iron-man-team-vg-marvel-culture-geek-vonguru-min-500x500.png" alt="Iron-Man">
                    <div>
                        <p id="texteFooter">Ceci est une page de présentation pour un projet de formation</p>
                    </div>
                </article>
                <article id="footerDroite">
                    <img class="imgFooter" src="/Static/Asset/Img/wolverine-comics.png" alt="Wolverine">
                </article>
            </section>
        </footer>
    </body>
</html>