<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marvel Book | Connexion</title>
    <link rel="icon" type="image/x-icon" href="/Static/Asset/Logo/Logo Spider-man.png">
    <link rel="stylesheet" href="../Css/livres.css">
</head>
    <body>
        <header>
            <nav>
                <section id="navGauche">
                    <div>
                        <img id="logoMarvelBook" src="/Static/Asset/Logo/Marvel Book logo.png" alt="Logo MARVEL Book">
                    </div>
                    <div>
                        <a class="btn" href="../Views/Profil.html">Accueil</a>
                    </div> 
                </section>
                <section id="navDroite">
                    <a class="btn" href="../Views/Connexion.html">Connexion</a>
                    <a class="btn" href="/Static/Views/SignIn.html">Inscription</a>
                </section>
            </nav>
        </header>
        <main></main>
        <footer>
            <section id="footerMarvel">
                <article id="footerGauche">
                    <img class="imgFooter" src="/Static/Asset/Img/iron-man-team-vg-marvel-culture-geek-vonguru-min-500x500.png" alt="Iron-Man">
                    <div>
                        <p id="texteFooter">Ceci est une page de présentation pour un projet de formation</p>
                    </div>
                </article>
                <article id="footerDroite">
                    <img class="imgFooter" src="/Static/Asset/Img/wolverine-comics.png" alt="Wolverine">
                </article>
            </section>
        </footer>
    </body>
</html>