<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marvel Book | Profile</title>
    <link rel="stylesheet" href="../Css/Profil.css">
    <link rel="icon" type="image/x-icon" href="/Static/Asset/Logo/Logo Spider-man.png">
</head>
    <body>
        <header>
            <nav>
                <section id="navGauche">
                    <div>
                        <img id="logoMarvelBook" src="/Static/Asset/Logo/Marvel Book logo.png" alt="Logo MARVEL Book">
                    </div>
                    <div>
                        <a class="btn" href="../../Index.html">Accueil</a>
                    </div> 
                </section>
                <section id="navDroite">
                    <a class="btn" href="../Views/Connexion.html">Connexion</a>
                </section>
            </nav>
        </header>
        <main>
            <section id="blocDeProfil">
                <article id="cadrePerso">
                    <div>
                        <img id="photoProfil" src="../Asset/Img/Avatar defaut.png" alt="Photo de profil">
                        <input id="btnChangerPhoto" type="submit" value="Changer photo">
                    </div>
                    <div id="pseudoGenreDate">
                        <form method="post" action="adresse de destination">
                            <table>
                                <tr>
                                    <td>
                                        <label for="pseudo">Pseudo</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input id="pseudo" type="text" name="pseudo" placeholder="Pseudo">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="Sexe">Sexe</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <select name="Sexe" id="genre">
                                            <optgroup label="Genre"></optgroup>
                                            <option value="Homme">homme</option>
                                            <option value="Femme">Femme</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="date">Date de naissance</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input id="date" type="date" name="date">
                                    </td>
                                </tr>
                            </table>
                            <input id="enregitrerCadrePerso" type="submit" value="Enregistrer">
                        </form>
                    </div>
                </article>
                <article id="cadreDeDescription">
                    <form method="post" action="adresse de destination">
                        <table id="tableauDescription">
                            <tr>
                                <td>
                                    <label class="label"  for="email">E-mail :</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input class="champRemplissage" type="email" name="email" placeholder=" Saisisez votre E-mail">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="label" for="password">Mot de passe :</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input class="champRemplissage" type="password" name="password" placeholder=" Saisisez votre Mot de passe">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="label" for="password">Validation du mot de passe :</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input class="champRemplissage" type="password" name="password" placeholder=" Resaisisez votre Mot de passe">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="label"  for="description">Description :</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <textarea id="champDeDescription" maxlength="255" name="description" placeholder="Saisisez votre déscription"></textarea>
                                </td>
                            </tr>
                        </table>
                        <input id="enregitrerDescription" type="submit" value="Enregistrer">
                    </form>
                </article>
            </section>
            <img id="marvelUniverse" src="../Asset/Img/The_Marvel_Universe-780x390.png" alt="Marvel Universe">
        </main>
        <footer>
            <section id="footerMarvel">
                <article id="footerGauche">
                    <img class="imgFooter" src="/Static/Asset/Img/iron-man-team-vg-marvel-culture-geek-vonguru-min-500x500.png" alt="Iron-Man">
                    <div>
                        <p id="texteFooter">Ceci est une page de présentation pour un projet de formation</p>
                    </div>
                </article>
                <article id="footerDroite">
                    <img class="imgFooter" src="/Static/Asset/Img/wolverine-comics.png" alt="Wolverine">
                </article>
            </section>
        </footer>
    </body>
</html>