<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MARVEL Book | Inscription</title>
    <link rel="icon" type="image/x-icon" href="/Static/Asset/Logo/Logo Spider-man.png">
    <link rel="stylesheet" href="../Css/SignUn.css">
</head>
    <body>
        <header>
            <nav>
                <section id="navGauche">
                    <div>
                        <img id="logoMarvelBook" src="/Static/Asset/Logo/Marvel Book logo.png" alt="Logo MARVEL Book">
                    </div>
                    <div>
                        <a class="btn" href="../../Index.html">Accueil</a>
                    </div> 
                </section>
                <section id="navDroite">
                    <a class="btn" href="../Views/Connexion.html">Connexion</a>
                </section>
            </nav>
        </header>
        <main>  
            <section id="pageInscription">
                <article>
                    <img class="imageMarvel" src="../Asset/Img/Thor.png" alt="Thor">
                </article>
                <img id="captainMarvel"  src="../Asset/Img/Captain-Marvel.png" alt="Captain Marvel">
                <article id="blockInscription">
                    <h1 id="titreInscription">Inscription</h1>
                    <form method="post" action="adresse de destination">
                        <table>
                            <tr>
                                <td>
                                    <label class="label" for="pseudo">Pseudo :</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input class="champRemplissage" id="pseudo" type="text" name="pseudo" placeholder=" Saisisez votre Pseudo">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="label"  for="email">E-mail :</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input class="champRemplissage" id="eMail" type="email" name="email" placeholder=" Saisisez votre E-mail">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="label" for="password">Mot de passe :</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input class="champRemplissage" id="motDePasse" type="password" name="password" placeholder=" Saisisez votre Mot de passe">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="label" for="password">Validation du mot de passe :</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input class="champRemplissage" id="validationDeMotDePasse" type="password" name="password" placeholder=" Resaisisez votre Mot de passe">
                                </td>
                            </tr>
                            <tr>
                                <td id="checkBox">
                                    <input type="checkbox" name="checkbox">
                                    <label for="chekbox">J'accepte les, CGU</label>
                                </td>
                            </tr>
                            <tr>
                                <td id="boxBtnInscription">
                                    <input id="btnInscription" type="submit" name="password" value="S'inscrire">
                                </td>
                            </tr>
                        </table>
                    </form>
                </article>
                <article>
                    <img class="imageMarvel" src="../Asset/Img/Captain-Marvel.png" alt="Captain Marvel">
                </article>
            </section>
        </main>
        <footer>
            <section id="footerMarvel">
                <article id="footerGauche">
                    <img class="imgFooter" src="/Static/Asset/Img/iron-man-team-vg-marvel-culture-geek-vonguru-min-500x500.png" alt="Iron-Man">
                    <div>
                        <p id="texteFooter">Ceci est une page de présentation pour un projet de formation</p>
                    </div>
                </article>
                <article id="footerDroite">
                    <img class="imgFooter" src="/Static/Asset/Img/wolverine-comics.png" alt="Wolverine">
                </article>
            </section>
        </footer>
    </body>
</html>